body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.round {
  border-radius: 20px;
}

.background-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#notificaciones {
  position: fixed;
  border-radius: 100px;
  width: 75px;
  height: 75px;
  bottom: 25px;
  right: 25px;
}