body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#busqueda::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.round {
  border-radius: 20px;
}

.background-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#notificaciones {
  position: fixed;
  border-radius: 100px;
  width: 75px;
  height: 75px;
  bottom: 75px;
  right: 25px;
}

#busqueda {
  padding-bottom: 140px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #fff;
  background-color: #17191a;
  text-align: center;
  padding-top: 12px;
  z-index: 2;
}

footer a {
  color: #fff !important;
}

.view {
  z-index: 1;
  position: absolute;
  max-width: 100%;
  overflow: hidden;
}

#background {  
  height: 100vh;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;  
  z-index: -1;
}

#overlay {
  height: 100vh;
  position: absolute;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 0;
}